* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

#root {
  margin: auto;
  max-width: 1240px;
}

.logo {
  padding: 1.5em;
  padding-left: 0;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
