.accordions2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  width: auto;
  margin: auto;
  margin-bottom: 1.2rem;
}
.accordeon2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.accordeon2_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ff6060;
  color: white;
  width: 1024px;
  height: 47px;
  cursor: pointer;
  border-radius: 8px;
}
.accordeon2_header h3 {
  padding-left: 10px;
  font-weight: 500;
  font-size: 24px;
}

.icone2 {
  transform: rotate(-180deg);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.icone2_ouverte {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  cursor: pointer;
}

.accordeon2_content {
  background-color: #f7f7f7;
  color: #ff6060;
  margin: auto;
  padding-left: 2px;
  padding-right: 2px;
  width: 1023px;
  border-radius: 5px;
}
.accordeon2_content ul {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 1rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordeon2_content_hidden {
  height: 0px;
}
.accordeon2_content_hidden ul {
  opacity: 0;
}

.accordeon2_content > ul li {
  text-decoration: none;
  list-style: none !important;
}

/* TABLETTE */
@media (max-width: 1024px) {
  .accordeon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3re;
    height: 100%;
  }
  .accordeon2_header {
    margin: auto;
    width: 90%;
  }
}

/* MOBILE */
@media (max-width: 500px) {
  .accordeon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
  }
  .accordeon2_header {
    width: 20rem;
    height: 2rem;
  }
  .accordeon2_header h3 {
    font-size: 13px;
  }
  .accordeon2_header img {
    width: 15px;
  }
  .accordeon2_content {
    font-size: 12px;
    width: 19.5rem;
    border-radius: 5px;
    line-height: normal;
  }
  .accordeon2_content ul {
    font-size: 12px;
  }
}
