.accordeon2 {
  margin: auto;
  margin-left: 9%;

  margin-bottom: 20px;
}

.accordeon2_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  color: white;
  width: 1023px;
  height: 47px;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
}
.accordeon2_header h3 {
  padding-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

.icone {
  width: 10px;
  transform: rotate(-180deg);
  transition: transform 0.2s ease-in-out;
  margin-right: 16px;
}

.icone_ouverte {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  cursor: pointer;
  margin-right: 16px;
}

.accordeon2_content {
  background-color: #f7f7f7;
  color: #ff6060;
  line-height: 18px;
  padding-left: 2px;
  padding-right: 2px;
  width: 90%;
}
.accordeon2_content ul {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: -25px;
  width: 90%m;
  padding-top: 8px;
  padding-bottom: 1rem;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordeon2_content_hidden {
  height: 0px;
}
.accordeon2_content_hidden ul {
  opacity: 0;
}

.accordeon2_content > ul li {
  text-decoration: none;
  list-style: none !important;
}

@media (max-width: 500px) {
  .accordeon2 {
    margin-top: 2rem;
  }
  .accordeon2_header {
    width: 20rem;
    margin: auto;
  }
}
