.container {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equipementList {
  text-decoration: none;
}
.cardInfos {
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding-top: 2rem;
}

.logementInfos {
  margin: auto;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.logementInfos2 {
  margin: auto;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.locationInfos > h1 {
  color: #ff6060;
  margin: auto;
  font-family: "Montserrat" bold;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 1rem;
}

.locationInfos:has(p) {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 1rem;
}

.hostInfos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.hostInfos:has(p) {
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
}

.hostPicture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.logementTags {
  display: flex;
  flex-direction: row;
}

.logementTags > .logementTagItem {
  background-color: #ff6060;
  color: #ffff;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  width: 175px;
  height: 34px;
  font-size: 17px;
  font-weight: 400;
}

.starsList {
  display: flex;
}

.star {
  width: 35px;
  padding-right: 8px;
  height: auto;
}

@media (max-width: 844px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .locationInfos > h1 {
    font-size: 25px;
  }
  .cardInfos {
    display: flex;
    flex-direction: column;

    margin: auto;
  }

  .logementTags {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 6px;
  }
  .logementTags > .logementTagItem {
    background-color: #ff6060;
    color: #ffff;
    text-align: center;
    display: flex;

    border-radius: 10px;
    width: 86px;
    height: auto;
    font-size: 10px;
    font-weight: 500;
  }
  .logementInfos2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: auto;
  }
  .hostInfos:has(p) {
    font-weight: 500;
    font-size: 17px;
    color: #ff6060;
  }
  .hostPicture {
    width: 57px;
    height: 57px;
    border-radius: 50%;
  }
  .star {
    width: 15%;
    height: auto;
  }
  .locationInfos:has(p) {
    color: #ff6060;
    font-weight: 500;
    font-size: 20px;
  }

  .locationInfos > h1 {
    font-weight: 500;
    font-size: 25px;
    color: #ff6060;
    width: fit-content;
  }
}
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .locationInfos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;

    padding-left: 1rem;
  }
  .locationInfos > h1 {
    font-size: 25px;
    font-weight: 400;
    font-family: "Montserrat" bold;
  }
  .cardInfos {
    padding-left: 1rem;
  }
  .city {
    font-size: 14px;
    font-style: normal;
    align-items: center;
  }
  .logementTags > .logementTagItem {
    width: 94px;
    height: 20px;
    font-size: 9px;
    border-radius: 5px;
    margin: auto;
  }

  .logementTags {
    max-width: 100%;
  }
  .logementInfos2 {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }
  .starsList {
    margin: auto;
  }

  .hostInfos p {
    font-size: 12px;
  }
}
