body {
  overflow-x: hidden;
  margin: auto;
}

.accordions2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding-top: 5rem;
}
.accordions2 > .accordeon {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  width: 90%;
  padding-top: 3rem;
}
.accordions2 > .accordeon > .accordeon_header {
  height: 3rem;
}
.accordions2 > .accordeon > .accordeon_content {
  display: flex;
  width: auto;
}

@media (max-width: 768px) {
  .accordions2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .accordions2 > .accordeon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
  }
  .accordions2 > .accordeon > .accordeon_header {
    height: 2.5rem;
  }
  .accordions2 > .accordeon > .accordeon_header > h3 {
    font-size: 15px;
  }

  .accordions2 > .accordeon > .accordeon_content {
    display: flex;
    width: 90%;
  }
}
