.accordions {
  margin: auto;
  padding-bottom: 20px;
}
.container {
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.acc1 {
  margin-bottom: 20px;
  border-color: #ffffff;
}
.acc2 {
  margin-bottom: 20px;
  border-color: #ffffff;
}
.acc3 {
  margin-bottom: 20px;
  border-color: #ffffff;
}

@media (min-width: 551px) and (max-width: 1020px) {
  .accordeon {
    width: 55% !important;
  }
}
