body {
  overflow-x: hidden;
  margin: auto;
}

@media (min-width: 551px) and (max-width: 1020px) {
  .accordeon {
    width: 55%;
  }
}

@media (828px <= width <= 1020px) {
  body {
    margin: auto;
    width: auto;
  }
}
