.header {
  display: flex;
  align-items: center;
  color: #ff6060;
  font-weight: 700;
  gap: 2rem;

  @media screen and (width <= 768px) {
    text-transform: uppercase;
    font-weight: 400;
  }
  & > *:first-child {
    margin-right: auto;
  }
  & a {
    text-decoration: none;
    color: #ff6060;
    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}
.accueil {
  width: 48%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ff6060;
  justify-content: end;
  margin-right: 3rem;
}
.accueil a {
  font-weight: 500;
}
.accueil a:hover {
  text-decoration-line: underline;
}
.a_propos {
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ff6060;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.6%;
  justify-content: center;
}
.a_propos:hover {
  text-decoration-line: underline;
}

@media (max-width: 844px) {
  .header {
    margin: auto;
    width: auto;
  }
  .logo img {
    width: 38%;
  }
  .nav {
    width: 30px;
  }
  .accueil {
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .header {
    width: 100%;
    gap: 0;
  }
  .logo {
    width: 10rem;
    margin-left: 1rem;
  }
  .accueil {
    font-size: 12px;
    justify-content: end;
  }
  .a_propos {
    font-size: 12px;
    justify-content: center;
    margin-right: 4rem;
    white-space: nowrap;
  }
}
