.banner {
  margin: auto;
  width: 1240px;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3%;
  padding-bottom: 1.5rem;
}
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgb(0, 0, 0);
}
.img {
  width: 100%;
  border-radius: 25px;
  opacity: 0.6;
}
.banner_title {
  font-family: "Montserrat" bold;
  position: absolute;
  font-weight: 400;
  font-size: 48px;
  line-height: 150%;
  /* or 68px */
  color: #ffffff;
}

@media (max-width: 844px) {
  .banner {
    width: 80%;
    height: 111px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  .hero {
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
  }
  .img {
    width: 100%;
    border-radius: 10px;
  }
  .banner_title {
    font-size: 24px;
    width: 50%;
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    height: auto;
    margin-bottom: -1rem;
  }

  .img {
    height: 110px;
  }

  .banner_title {
    margin-left: 1rem;
    font-size: 24px;
    width: 55%;
    font-family: "Montserrat" bold;
    line-height: normal;
  }
}
@media (828px <= width <= 1300px) {
  .banner {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
}
