.banner {
  width: 1240px;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgb(0, 0, 0);
}
.img {
  width: 100%;
  border-radius: 25px;
  opacity: 0.6;
}
.banner_title {
  position: absolute;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  /* or 68px */
  color: #ffffff;
}

@media (min-width: 481px) and (max-width: 830px) {
  .hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
  }
  .img {
    border-radius: 10px;
  }
  .banner_title {
    font-size: 30px;
    width: 60%;
  }
}

@media (max-width: 480px) {
  .hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
  }
  .img {
    border-radius: 10px;
  }
  .banner_title {
    width: 60%;
    padding-left: 60px;
    align-items: center;
  }
}
