@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro:wght@700&display=swap");

.err {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 288px;
  font-weight: 900;
  color: #ff6060;
  margin-top: auto;
}
.txt2 {
  margin: -10rem 2rem 8rem 2rem;
  font-family: "Montserrat" 400;
  font-size: 36px;
  color: #ff6060;
}
.go_back {
  margin-bottom: 8rem;
  font-family: "Montserrat" bold;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 142.6%;
  text-decoration-line: underline;
  color: #ff6060;
}

@media (max-width: 480px) {
  .err {
    margin: 8rem 2rem 4rem 2rem;
  }

  .notfound {
    font-size: 96px;
  }

  .txt {
    margin: 0rem 0rem 6rem 0rem;
    text-align: center;
    font-size: 18px;
  }

  .go_back {
    margin-bottom: 8rem;
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 892px) {
  .err {
    margin: 8rem 2rem 4rem 2rem;
  }

  .notfound {
    font-size: 200px;
  }

  .txt {
    margin: 4rem 2rem 8rem 2rem;
    text-align: center;
    font-size: 18px;
  }

  .go_back {
    margin-bottom: 8rem;
    font-size: 14px;
  }
}
