.accordeon_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  color: white;
  width: 570px;
  height: 60px;
  cursor: pointer;
  border-radius: 8px;
}
.accordeon_header h3 {
  padding-left: 10px;
  font-weight: 500;
  font-size: 24px;
}

.icone {
  width: 20px;
  margin-right: 16px;
  transform: rotate(-180deg);
  transition: transform 0.2s ease-in-out;
}

.icone_ouverte {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  cursor: pointer;
  padding-right: 16px;
}

.accordeon_content {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  color: #ff6060;
  line-height: 24px;
  padding-left: 1rem;
  margin-right: 8.5rem;
  border-radius: 5px;
  max-width: 100%;
}
.accordeon_content ul {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  font-size: 18px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.22px;
  list-style-type: none;
}

.accordeon_content_hidden {
  overflow: hidden;
}
.accordeon_content_hidden ul {
  opacity: 0;
}

@media (max-width: 500px) {
  .accordeon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .accordeon_content {
    width: 335px;
    margin: auto;
  }
  .accordeon_header {
    width: 335px;
    height: 35px;
    position: absolute;
  }
  .accordeon_header h3 {
    font-size: 13px;
  }
}

@media (max-width: 840px) {
  .accordeon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: auto;
  }
  .accordeon_header {
    display: flex;
  }
}
@media (max-width: 1460px) {
  .accordeon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: auto;
  }
}
