.cards_bg {
  display: grid;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 25px;
  background-color: #f7f7f7;
  border-radius: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  position: relative;
  height: 320px;
  width: 88%;
  border-radius: 10px;

  margin: auto;
  margin-top: 2rem;
  transition: transform 0.2s;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 10px;
}
.title {
  bottom: 0;
  position: absolute;
  width: 310px;
  overflow-wrap: break-word;
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 142.6%;
  color: #ffffff;
  padding-bottom: 4px;
  padding-left: 1.5rem;
}

@media (max-width: 768px) {
  .cards_bg {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .card {
    width: 90%;

    border-radius: 10px;
  }
  .title {
    width: auto;
    padding-left: 1rem;
  }
}

@media (max-width: 500px) {
  .cards_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  .title {
    font-size: 20px;
  }
}
@media (840px <= width <= 1025px) {
  .cards_bg {
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
    margin: auto;
  }
}

/* VERSION TABLETTE */

@media (768px <= width <= 1024px) {
  .cards_bg {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: auto;
  }
}
